history.json
*.pyc
__pycache__/
*.wav
.DS_Store
models/*.bin
!models/ggml-silero-v6.2.0.bin
WhisperCppCmd.app/
build/dev/
.py2app-build-dev/
.py2app-dist-dev/
logs/
config.json
glossary.txt
.py2app-assets/
.py2app-build/
.py2app-dist/
.pytest_cache/
release/
